

<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
<title></title> 

<!-- Bootstrap --> 
<link href="css/bootstrap.min.css" rel="stylesheet"> 
<!-- font-awesome.css -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="js/jquery-3.1.1.min.js"></script> 
<!-- angular.js -->
<script src="js/angular.js"></script> 
<script src="js/angular-route.js"></script>  
<!-- W3.CSS -->
<link href="css/w3.css" rel="stylesheet"> 

</head> 
<body ng-app>    
  <a id="#intermedia"></a>
<nav class="navbar navbar-default"> 
<div class="container-fluid"> 
<div class="navbar-header" style="top:-50px"> 
<a class="navbar-brand" href="#"> 
<img alt="Brand" src="sWSRi_Yx.jpg" style="width:200px;height:200px;z-index:-1"> 
</a> 
 </div>
  </div>
</nav>


<nav class="navbar navbar-inverse" style="padding:5px;top:110px;width:100%;background:#fbf2ea">
<div class="container-fluid"> 
<div class="navbar-header" style="float:left">
  
  
  
<a href="index.html" style="margain:5px"><button class="w3-btn w3-large w3-border w3-white"><i class="fa fa-home" aria-hidden="true"></i>Home</button></a>
 
 
  </div>
  </div>
</nav>
  
  <div class="container-fluid" style="background:white">
    <div class="container" style="position:absolute;top:235px;width:300px;right:1px">
    

   <nav class="w3-sidenav w3-white w3-animate-right" style="position:fixed;top:255;width:950px;right:50px;display:none;z-index:-1" id="mySidenav">       
     <br />
 <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-sidenav w3-closenav w3-large" style="width:5%;right:0px;float:left;color:red"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></a>
<br />
<br/>

<iframe src="exchangehelp.html#exchangehelp_top" style="position:absolute;top:0px;right:0px;height:900px;width:800px;overflow:auto;z-index:-6">            
     </iframe>
</nav>
     </div>
<div class="w3-accordion w3-light-grey" style="position:absolute;left:0px;top:235px;width:425px;z-index:-1">
    <button onclick="myFunction('Demo1')" class="w3-btn-block w3-padding-large w3-white w3-left-align w3-border" ><img src="img/intermedia/email_64.png"><b>&nbsp;&nbsp;Email and compliance</b><br />
       
There are over 1,000 different federal, state and local<br/>
regulations that apply to many industries. Intermedia <br />
offers many services that assist with facilitating<br/>
email compliance, they include; Email Archiving, <br />
    McAfee DLP, Email Encryption, and more.

</button>
        
     <div id="Demo1" class="w3-accordion-content w3-container w3-border" style="height:275px;overflow:scroll">
       <div class="well-sm" style="border:2px solid orange">
                   <span class="w3-opennav w3-xlarge"  onclick="w3_open()" style="left:0px"><button class="w3-btn-block">Exchange Help</button></span>
<script>
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";}
</script>
<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>          
          <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>   
            <div class="well" style="border:2px solid orange">
         
             <ul stlye="list-style-type:disc">
          

           <li>Cloud-based Microsoft Exchange business email from <br />
           the world's largest independent provider</li>
           <li>.99.999% uptime guarantee</li>
           <li>Unlimited email storage</li>
           <li>Facilitates compliance with HIPAA and other regulations</li>
           <li>Lower TCO as compared to on-premise</li>
           <li>Exchange24/7 support + free migration performed <br />
            by our experts.</li>
           </ul>
         <p />
         
         
      <font style="color:red">    Exchange Mailboxes</font>
    <button class="w3-btn w3-tiny"  ng-click="exchange = exchange - 1" ng-disabled="exchange < 1"  ng-init="exchange=0">
  -
</button>       
<span><input type="number" value="{{exchange}}" ng-disable="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny"  ng-click="exchange = exchange  + 1" ng-init="exchange=0">
            +
            </button>
 
       <br>
           <p />
                <label ng-show="exchange > 0">Add Outlook
    <input type="checkbox" ng-model="outlook" ng-true-value="'Yes'"  ng-false-value="'No'" ng-disabled="exchange < 1">
  </label><br />  
       </div>
           <div class="well-sm" style="border:2px solid orange">
           OWA-only mailbox has all the same functionality as an<br />
           Exchange mailbox besides desktop client availability, <br />
           making it accessible only via Outlook Web Access.
        <br />
          
          <font style="color:red">OWA-only mailbox</font>
       <button class="w3-btn w3-tiny"  ng-click="owa = owa  - 1" ng-disabled="owa < 1"  ng-init="owa=0">
  -
</button>       
<span><input type="number" value="{{owa}}" ng-disabled="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny"  ng-click="owa = owa + 1" ng-init="owa=0">
            +
            </button>  
           </div>
         <p />
          <div class="well-sm" style="border:2px solid orange">
      Resource Mailboxes
            
      Resource mailboxes are mailboxes that represent conference rooms or shared equipment. Resource mailboxes can be included as resources in meeting requests, providing a simple and efficient way to utilize resources for an organization.
       <button class="w3-btn w3-tiny"  ng-click="resource = resource  - 1" ng-disabled="resource < 1"  ng-init="resource=0">
  -
</button>       
       <span><input type="number" value="{{resource}}" ng-disabled="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny"  ng-click="resource = resource   + 1" ng-init="resource=0">
            +
            </button> 
       <p />
          
      Email Archiving
       &nbsp;
       <button class="w3-btn w3-tiny"  ng-click="archiving = archiving  - 1" ng-disabled="archiving < 1"  ng-init="archiving=0">
  -
</button>       
       <span><input type="number" value="{{archiving}}" ng-disabled="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny"  ng-click="archiving = archiving   + 1" ng-init="archiving=0">
            +
            </button> 
     <br><p />
         <label>Policy-based Encryption Email
    <input type="checkbox" ng-model="policy" ng-true-value="'Yes'"  ng-false-value="'No'" ng-disabled="archiving < 1">
  </label><br />     
            
            <p />
     ShareSync  backup 
        
       &nbsp;
       <button class="w3-btn w3-tiny"  ng-click="sharesync = sharesync  - 1" ng-disabled="sharesync < 1"  ng-init="sharesync=0">
  -
</button>       
       <span><input type="number" value="{{sharesync}}" ng-disable="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny"  ng-click="sharesync = sharesync    + 1" ng-init="sharesync=0">
            +
            </button>
    <br />   and file sharing <h6>users</h6>       
     <br><p />
        
        <label for="singleSelect"> ShareSync storage packageGB per user </label><br>
       
    <select name="singleSelect" ng-model="data.singleSelect" ng-disabled="sharesync < 1">
      <option value="option-1">10</option>
      <option value="option-2">100</option>
      <option value="option-3">Unlimited</option>   
        </select><br>
        {{data.singleSelect}}        
       </div>
       <p />
            <div class="well-sm" style="border:2px solid orange">
              
             
<!-- Large modal -->
<a href="verify.html"><button class="w3-btn w3-small w3-red" ng-model="signup"> Verify</button></a>
                       


  
       
         
         
         
         
         
        Office Apps (US only) licenses
        {{user.email}}
      
          <button class="w3-btn w3-tiny"  ng-click="owa = owa  - 1" ng-disabled="!user.agree"  ng-init="owa=0">
  -
</button>       
<span><input type="number" value="{{owa}}" ng-disabled="0" style="width:30px">
</span>                            
          <button class="w3-btn w3-tiny" ng-disabled="!user.agree" ng-click="owa = owa + 1" ng-init="">
            +
            </button>  
      
         <br />
             
             
             
              <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script> 
             
             
             
        
       
             
             
             
            
            
   </div>
     </div>          
         </div>
  </div>
    </div>
     
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
</body> 
</html>



